body {
  /* المطلوب الأول هنا */
  background-image: url(./img/KuwaitCodesWallpaper.png);
  text-align: center;
  background-size: cover;
}
  
/* المطلوب الثاني هنا */
nav {
  display: flex;
  justify-content: center;
  
 
}

.card {
  /* المطلوب الثالث هنا */
  width: 400px;
  height: 500px;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px;
  border-radius: 12px;
  
}

img {
  /* المطلوب الرابع هنا */
  height: 100px;
  width: 100px;
 margin-top: auto;
border-radius: 50%;
justify-content: space-around;





  
}

.hobbies {
justify-content: space-around;
display: flex;

  

}

.center {
  margin: auto;
}

ul {
  padding: 0;
  margin: 0;
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
}
